<div class="modal fade bd-example-modal-lg" id="sarLegendModal" tabindex="-1" role="dialog" aria-labelledby="sarLegendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sarLegendModalLabel">Diagram oceny przydatności wód do nawodnień</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/SAR_Diagram.jpg" style="max-width:100%;" />
            </div>
        </div>
    </div>
</div>
