@{ 
    var layerProperties = LayersProperties.Layers;
    var epionierDbContext = new epionierContext();
    var dzielniceController = new GreenMap.Controllers.DzielniceController(epionierDbContext);
    var odwiertController = new GreenMap.Controllers.OdwiertController(epionierDbContext);
    SelectList districtList = await dzielniceController.GetSelectList();
    SelectList statusList = await odwiertController.GetStatusSelectList();
    var partialViewData = new ViewDataDictionary(this.ViewData) {
        { "districtList", districtList },
        { "statusList", statusList }
    };
}
    

<div id="map" class="map">
    <nav class="navbar navbar-light bg-white">
        <form class="form-inline ml-auto">
            <button style="display:none;" id="info" type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#infoModal">
                Info
            </button>
            <button type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#exampleModal">
                Wyszukaj
            </button>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Widoczność warstw
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    @foreach (var name in layerProperties.Keys)
                    {
                        string opacity = name != "miasto" ? layerProperties[name].Opacity.ToString(System.Globalization.CultureInfo.InvariantCulture) : "0.7";
                        string layerStyle = "background-color:" + layerProperties[name].Color +
                            ";opacity:" + opacity +
                            ";color:" + layerProperties[name].Text;
                        <button value=@name type="button" class="dropdown-item" style=@layerStyle>
                            <span><img id="eye_@name" src="~/css/eye.png" style="width:20px;opacity:1" /></span>
                            @name
                        </button>
                    }
                </div>
            </div>
        </form>
        @{
            await Html.RenderPartialAsync("_SearchModal", new OdwiertSearch(), partialViewData);
        }
        @{
            await Html.RenderPartialAsync("_InfoModal", new OdwiertInfo());
        }
    </nav>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>