@model GreenMap.Models.OdwiertSearch
@{ 
    SelectList districtList = (SelectList)ViewData["districtList"];
    SelectList statusList = (SelectList)ViewData["statusList"];
    SelectList filteringClassList = (SelectList)ViewData["filteringClassList"];
}

<div class="modal fade bd-search-modal-lg" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Wyszukaj obiekt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Search" asp-controller="Search">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NazwaObiektu" class="control-label"></label>
                        <input asp-for="NazwaObiektu" class="form-control" id="NazwaObiektu" />
                        <span asp-validation-for="NazwaObiektu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NrRbdh" class="control-label"></label>
                        <input asp-for="NrRbdh" class="form-control" id="NrRbdh" />
                        <span asp-validation-for="NrRbdh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lokalizacja" class="control-label"></label>
                        <select asp-for="Lokalizacja"
                                class="form-control"
                                asp-items="@districtList"
                                id="Lokalizacja">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status"
                                class="form-control"
                                asp-items="@statusList"
                                id="Status">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EurefX1" class="control-label"></label>
                        <input asp-for="EurefX1" id="EurefX1" class="form-control" placeholder="określ początek przedziału" />
                        <span asp-validation-for="EurefX1" class="text-danger"></span>
                        <input asp-for="EurefX2" id="EurefX2" class="form-control" placeholder="określ koniec przedziału" />
                        <span asp-validation-for="EurefX2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EurefY1" class="control-label"></label>
                        <input asp-for="EurefY1" id="EurefY1" class="form-control" placeholder="określ początek przedziału" />
                        <span asp-validation-for="EurefY1" class="text-danger"></span>
                        <input asp-for="EurefY2" id="EurefY2" class="form-control" placeholder="określ koniec przedziału" />
                        <span asp-validation-for="EurefY2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlebokoscZwierciadla1" class="control-label"></label>
                        <input asp-for="GlebokoscZwierciadla1" id="GlebokoscZwierciadla1" class="form-control" placeholder="określ początek zakresu" />
                        <span asp-validation-for="GlebokoscZwierciadla1" class="text-danger"></span>
                        <input asp-for="GlebokoscZwierciadla2" id="GlebokoscZwierciadla2" class="form-control" placeholder="określ koniec zakresu" />
                        <span asp-validation-for="GlebokoscZwierciadla2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KlasaFiltracji" class="control-label"></label>
                        <select asp-for="KlasaFiltracji"
                                class="form-control"
                                asp-items="@filteringClassList"
                                id="KlasaFiltracji">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Filtracja1" class="control-label"></label>
                        <input asp-for="Filtracja1" id="Filtracja1" class="form-control" placeholder="określ początek zakresu" />
                        <span asp-validation-for="Filtracja1" class="text-danger"></span>
                        <input asp-for="Filtracja2" id="Filtracja2" class="form-control" placeholder="określ koniec zakresu" />
                        <span asp-validation-for="Filtracja2" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">
            <label asp-for="HydroGleby" class="control-label"></label>
            <input asp-for="HydroGleby" id="HydroGleby" class="form-control" />
            <span asp-validation-for="HydroGleby" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZanieczyszczenieGleby" class="control-label"></label>
            <input asp-for="ZanieczyszczenieGleby" id="ZanieczyszczenieGleby" class="form-control" />
            <span asp-validation-for="ZanieczyszczenieGleby" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="JakoscWody" class="control-label"></label>
            <input asp-for="JakoscWody" id="JakoscWody" class="form-control" />
            <span asp-validation-for="JakoscWody" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nawodnienie" class="control-label"></label>
            <input asp-for="Nawodnienie" id="Nawodnienie" class="form-control" />
            <span asp-validation-for="Nawodnienie" class="text-danger"></span>
        </div>*@
                    <button id="searchSubmit" type="button" class="btn btn-success btn-block">Szukaj</button>
                    <button id="searchRemove" type="button" class="btn btn-danger btn-block">Usuń filtrowanie i przywróc wszystkie obiekty</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
